@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --bg-color: #0891b2;
  --padding-mobile: 1.5rem;
  --padding-tablet: 2rem;
  --padding-desktop: 2.5rem;
  --text-color: #565656;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.wrapper {
  padding: var(--padding-mobile);
}

/* Header */

.header__portrait {
  position: relative;
  color: #fff;
  text-align: left;
  margin-bottom: 2rem;
  justify-content: end;
}

.portrait__img {
  object-fit: cover;
  width: 100%;
  max-height: 500px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.portrait__title {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 14vw;
  font-weight: 500;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section__heading {
  font-weight: 500;
  font-size: 2.5rem;
}

.section__content {
  font-size: 1.3rem;
  color: var(--text-color);
  text-align: left;
}

.social-media {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.link__logo {
  width: 36px;
  color: #000;
}

.header__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}

.background__rectangle {
  height: 300px;
  background-color: var(--bg-color);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.background__triangle {
  border-top: 23vh solid var(--bg-color);
  border-right: 100vw solid transparent;
  filter: drop-shadow(-16px 6px 3px rgba(0, 0, 0, 0.5));
}

/* My work */

.projects {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.project-card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 10px;
  overflow: hidden;
}

.project-card__img-container {
  width: 100%;
  height: 40vw;
  display: flex;
  place-items: center;
  background-color: red;
  font-size: 5vmax;
}

.project-card__img {
  color: #fff;
  width: 100%;
}

.project-card__content {
  padding: 1.5rem 1rem;
  display: grid;
  grid-template-areas:
    'title title links'
    'description description description';
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 1fr;
}

.project-card__title {
  grid-area: title;
  font-size: 1.5rem;
  font-weight: 500;
}

.project-card__links {
  grid-area: links;
  color: #fff;
  display: flex;
  place-items: center;
  gap: 1rem;
  padding: 0 1rem;
}

.project-card__link {
  color: #000;
  display: flex;
  place-items: center;
}

.project-card__description {
  text-align: left;
  padding: 1rem;
  grid-area: description;
  font-size: 1.2rem;
  color: var(--text-color);
}

/* Contact me */

.section--primary-background {
  background-color: var(--bg-color) !important;
  color: #fff;
}

@media only screen and (min-width: 600px) {
  .app {
    gap: 2rem;
  }

  .wrapper {
    padding: var(--padding-tablet);
  }

  /* Header */

  .portrait__img {
    width: 100%;
    max-height: 600px;
  }

  .portrait__title {
    font-size: 9vmax;
  }

  /* My work */

  .projects {
    grid-template-columns: 1fr 1fr;
  }

  .project-card__img-container {
    height: 30vw;
    font-size: 3.5vw;
  }
}

@media only screen and (min-width: 900px) {
  .wrapper {
    padding: var(--padding-desktop);
  }

  /* Header */

  .header {
    display: flex;
    align-items: center;
  }

  .portrait__img {
    width: 500px;
  }

  .portrait__title {
    font-size: 7vmax;
  }

  .section {
    background-color: #fff;
    padding: 1.5rem;
    padding-right: 3rem;
    gap: 2rem;
  }

  .section--shadow {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  .section__heading {
    text-align: left;
  }

  .social-media {
    justify-content: right;
  }

  .background__rectangle {
    height: 230px;
  }

  .background__triangle {
    border-top: 40vh solid var(--bg-color);
  }

  /* My work */

  .projects {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }

  .project-card__img-container {
    height: 25vmax;
    font-size: 3.5vmax;
  }

  .project-card__content {
    padding: 2rem;
  }

  .project-card__title {
    text-align: left;
  }

  .project-card__links {
    padding: 0;
  }

  .project-card__description {
    text-align: left;
    padding: 1rem 0;
    font-size: 1.3rem;
  }
}
